<mat-progress-bar style="position: fixed;" [mode]="progressBarMode" value="0"
    [style.visibility]="progressBarMode ? 'visible' : 'hidden'">
</mat-progress-bar>

<form [formGroup]="fillForm" class="container" (ngSubmit)="onSubmit()"
fxLayout="row" fxLayoutAlign="space-around center"  fxLayoutGap="10px">

    <mat-card class="create-event-card" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-toolbar color="primary" fxLayoutAlign="center center">
            <span>Fill out the document</span>
        </mat-toolbar>

        <div formArrayName="expenses" class="ngFor-container mt-4">
            <div class="row" style="margin: auto;" *ngFor="let expenseCtrl of getExpenseForm(); let i = index"
            [formGroupName]="i" [ngClass]="{odd: i%2 === 0, padding: i ===0}">
                <mat-form-field appearance="outline">
                    <mat-label> Change value of {{getPropertyName(expenseCtrl.value)}}</mat-label>                
                    <input matInput  class="text-right" formControlName="{{ getPropertyName(expenseCtrl.value)}}">
                </mat-form-field>
            </div>
        </div>

        <mat-card-actions style="padding: 0px;">
            <button mat-flat-button color="primary" type="submit"> Process & Download </button>
        </mat-card-actions>
    </mat-card>
</form>