<mat-toolbar fxLayoutAlign="center center">
    <span> Forms </span>
</mat-toolbar>


<div div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-around center" class="container-wrapper">   
    
    <mat-card class="document-card" fxLayout="column"  fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-card-header class="card-header">
            <mat-card-title>Immigration Form</mat-card-title>
            <mat-card-subtitle>This is the immigration form link</mat-card-subtitle>
        </mat-card-header>
    
        <div  fxLayout="row" fxLayoutAlign="space-around center" >
            <img mat-card-image src="../assets/documentFormPicture.png" alt="Form Picture" style="width: 100%;">
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-flat-button color="primary" routerLink="/form-first" >Go to Form</button>
        </div>
    </mat-card>

    <mat-card class="document-card" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-card-header class="card-header">
            <mat-card-title>Alien Change Form</mat-card-title>
            <mat-card-subtitle>This is the immigration form link</mat-card-subtitle>
        </mat-card-header>
    
        <div  fxLayout="row" fxLayoutAlign="space-around center" >
            <img mat-card-image  src="../assets/documentFormPicture.png" alt="Form Picture" style="width: 100%;">
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-flat-button color="primary">Go to Form</button>
        </div>
    </mat-card>

    <mat-card class="document-card" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-card-header class="card-header">
            <mat-card-title>Application for Naturalization</mat-card-title>
            <mat-card-subtitle>This is the immigration form link</mat-card-subtitle>
        </mat-card-header>
    
        <div  fxLayout="row" fxLayoutAlign="space-around center" >
            <img mat-card-image  src="../assets/documentFormPicture.png" alt="Form Picture" style="width: 100%;">
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-flat-button color="primary">Go to Form</button>
        </div>
    </mat-card>

    <mat-card class="document-card" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-card-header class="card-header">
            <mat-card-title>Application for citizen ship</mat-card-title>
            <mat-card-subtitle>This is the immigration form link</mat-card-subtitle>
        </mat-card-header>
    
        <div  fxLayout="row" fxLayoutAlign="space-around center" >
            <img mat-card-image  src="../assets/documentFormPicture.png" alt="Form Picture" style="width: 100%;">
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-flat-button color="primary">Go to Form</button>
        </div>
    </mat-card>
    
</div>
